<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言建议</title>
    <link rel="stylesheet" href="../css/留言.css">
    <!--<link rel="stylesheet" href="http://at.alicdn.com/t/font_1019609_dgeemdxzw3.css">-->
</head>
<body >
<!--素馨动态导航开始-->
<header class="hua-header">
    <div class="container1">
        <div class="header-box">
            <div class="header-logo">
                <div class="logo">
                    <img src="../img/素鑫.png" alt="">
                </div>
            </div>
            <ul class="header-nav">
                <li class="header-item">
                    <a href="">网站首页</a>
                </li>
                <li class="header-item">
                    <a href="">花言花语</a>
                </li>
                <li class=" header-item">
                    <a href="">素馨动态</a>
                </li>
                <li class="header-item">
                    <a href="">淘宝商城</a>
                </li>
                <li class="header-item">
                    <a href="">素馨花艺</a>
                </li>
                <li class="one">
                    <a href="">留言建议
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" >
                        <li class="visible-xs-block"><a href="" title="全部">全部</a></li>
                        <li><a href="" title="提交留言">提交留言</a></li>
                        <li><a href="" title="查看留言">查看留言</a></li>

                    </ul>
                </li>
                <li class="header-item">
                    <a href="">关于素馨</a>
                </li>
            </ul>

        </div>

    </div>
</header>
<!--素馨动态导航结束-->
<!--素馨动态开始-->
<div class="language">
    <h1 class="language-content">
        留言建议
    </h1>
</div>
<section class="met-news">
    <div class="container">
        <div class="row">
            <div class="met-new-body">
                <div class="row">
                    <div class="met-new-list">
                        <ul class="met-page">
                            <li class = list>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="">
                                           <i class="iconfont ">&#xe618;</i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <small class="pull-right">2019-02-04 13:58:56</small>
                                            新客户
                                        </h4>
                                        <p>哈哈哈哈哈哈</p>
                                    </div>
                                </div>
                            </li>
                            <li class = list>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="">
                                            <i class="iconfont ">&#xe618;</i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <small class="pull-right">2019-01-28 18:13:15</small>

                                            易坦静
                                        </h4>
                                        <p>关注好久了，哈哈哈</p>
                                    </div>
                                </div>
                            </li>
                            <li class = list>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="">
                                            <i class="iconfont ">&#xe618;</i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <small class="pull-right">2019-01-26 23:18:51</small>
                                            wys
                                        </h4>
                                        <p>很好很强大</p>
                                    </div>
                                </div>
                            </li>
                            <li class = list-new>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="">
                                            <i class="iconfont ">&#xe618;</i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <small class="pull-right">2017-06-21 16:31:24</small>

                                            王亚楠

                                        </h4>
                                        <p>做的好棒耶</p>

                                    </div>

                                </div>
                                <div class="well-box ">
                                    谢谢亲的夸奖喔~~~
                                </div>
                            </li>
                            <li class = list-new1>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="">
                                            <i class="iconfont ">&#xe618;</i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <small class="pull-right">2017-06-08 11:21:07</small>

                                            刘家祥

                                        </h4>
                                        <p>网站做的不吸引人</p>

                                    </div>

                                </div>
                                <div class="well-box1 ">

                                    欢迎亲亲的光临，感谢亲的宝贵建议，我们公司网站刚刚开通，内容都还不充足，网站模板与外观等还都在调试中，敬请期待啊~
                                    ~
                                </div>
                            </li>
                            <li class = list-new>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="">
                                            <i class="iconfont ">&#xe618;</i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <small class="pull-right">2017-06-07 16:06:00</small>

                                            邱元作
                                        </h4>
                                        <p>希望越做越好</p>

                                    </div>

                                </div>
                                <div class="well-box ">

                                    谢谢

                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="met-new-bar">
                        <form method="POST" class="met-form " action=""
                              novalidate="novalidate">
                            <div class="form-group">
                                <div>
                                    <input name="para115" class="form-control" type="text" placeholder="姓名 "
                                           data-fv-notempty="true" data-fv-message="不能为空" data-fv-field="para115">
                                </div>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="para115" data-fv-result="NOT_VALIDATED" style="display: none;">不能为空
                                </small>
                            </div>
                            <div class="form-group">

                                <div>
                                    <input name="para116" class="form-control" type="text" placeholder="联系电话 "
                                           data-fv-notempty="true" data-fv-message="不能为空" data-fv-field="para116">
                                </div>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="para116"
                                       data-fv-result="NOT_VALIDATED" style="display: none;">不能为空
                                </small>
                            </div>
                            <div class="form-group">

                                <div>
                                    <input name="para126" class="form-control" type="text" placeholder="电子邮箱 "
                                           data-fv-notempty="true" data-fv-message="不能为空" data-fv-field="para126">
                                </div>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="para126"
                                       data-fv-result="NOT_VALIDATED" style="display: none;">不能为空
                                </small>
                            </div>

                            <div class="form-group1">

                                <div>
                                    <textarea name="para117" class="form-control1" data-fv-notempty="true"
                                              data-fv-message="不能为空" placeholder="您的建议 " rows="5"
                                              data-fv-field="para117"></textarea>
                                </div>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="para117"
                                       data-fv-result="NOT_VALIDATED" style="display: none;">不能为空
                                </small>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <input name="code" type="text" class="form-control2" placeholder="验证码"
                                           data-fv-notempty="true" data-fv-message="不能为空" data-fv-field="code">
                                    <span class="input-group-addon">
							<img src="../img/liu1.png"
                                 alt="看不清？点击更换验证码" title="看不清？点击更换验证码">
						</span>
                                </div>
                                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="code"
                                       data-fv-result="NOT_VALIDATED" style="display: none;">不能为空
                                </small>
                            </div>


                            <div class="form-group margin-bottom-0">
                                <button type="submit" class="btn">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--素馨花语结束-->
<!--底部开始-->
<div class="footer-box">
    <div class="footer-title"></div>
    <div class="footer-qq">
        <i class="iconfont  wx">&#xe637;</i>
        <i class="iconfont  qq">&#xe600;</i>
        <i class="iconfont  qq">&#xe828;</i>
    </div>
    <p class="footer-bottom">
        <a href="">豫ICP备17021305号</a>&nbsp;&nbsp;
        <a href=""><img src="../img/aa.png" alt="">豫公网安备
            41012202000160号</a></p>
    <p>联系电话 0371-62180519 15890062947</p>
    <p>郑州素馨花卉有限公司 版权所有 © 2017-2021</p>
</div>


<!--底部结束-->
</body>
</html>